/bin/
/classes/
/tests/
/lib/
*.iml
.idea/*
.project
.classpath
pom.xml.versionsBackup
*/dist/*
**/target/**/*
/Bundle/target/
/lib/
/Server/src/logs/
/Server/src/test/resources/config/
**/.DS_Store
**/.settings
**/*.class
.metadata/*
