<?xml version="1.0" encoding="UTF-8"?>
<openas2>
   <properties storageBaseDir="%home%/../data"
               log_date_format="yyyy-MM-dd HH:mm:ss.SSS"
               sql_timestamp_format="yyyy-MM-dd HH:mm:ss.SSS"
               as2_message_id_format="OPENAS2-$date.ddMMyyyyHHmmssZ$-$rand.UUID$@$msg.sender.as2_id$_$msg.receiver.as2_id$"
               as2_async_mdn_url="http://localhost:10081"
               as2_receive_message_filename_fallback="$rand.shortUUID$"
               console.logger.enabled="true"
               file.logger.enabled="true"
               socket.logger.enabled="false"
               email.logger.enabled="false"
               console.command.processor.enabled="true"
               socket.command.processor.enabled="false"
               restapi.command.processor.enabled="false"
               restapi.command.processor.baseuri="http://127.0.0.1:8080"
               restapi.command.processor.userid="userID"
               restapi.command.processor.password="pWd"
               module.AS2SenderModule.enabled="true"
               module.MDNSenderModule.enabled="true"
               module.DbTrackingModule.enabled="true"
               module.MDNFileModule.enabled="true"
               module.MessageFileModule.enabled="true"
               module.DirectoryResenderModule.enabled="true"
               module.AS2ReceiverModule.http.enabled="true"
               module.AS2MDNReceiverModule.http.enabled="true"
               module.AS2ReceiverModule.https.enabled="false"
               module.AS2MDNReceiverModule.https.enabled="false"
               module.HealthCheckModule.enabled="false"
               partnership_file="%home%/partnerships.xml"
               pollerConfigBase.outboxdir="$properties.storageBaseDir$/outbox/$partnership.sender.as2_id$/$partnership.receiver.as2_id$"
               pollerConfigBase.errordir="$properties.storageBaseDir$/outbox/$partnership.sender.as2_id$/error/$date.YYYY$-$date.MM$-$date.dd$/$partnership.receiver.as2_id$"
               pollerConfigBase.interval="5"
               pollerConfigBase.defaults="sender.as2_id=$partnership.sender.as2_id$, receiver.as2_id=$partnership.receiver.as2_id$"
               pollerConfigBase.sendfilename="true"
               pollerConfigBase.mimetype="application/EDI-X12"
               partnerships.polling.interval="120"
               messages.polling.interval="120"
              />
   <certificates classname="org.openas2.cert.PKCS12CertificateFactory"
                 filename="%home%/as2_certs.p12"
                 password="testas2"
                 interval="300"/>
   <loggers>
      <logger classname="org.openas2.logging.ConsoleLogger"
              enabled="$properties.console.logger.enabled$"/>
      <logger classname="org.openas2.logging.EmailLogger"
              enabled="$properties.email.logger.enabled$"
              only_active_msg_transfer_errors="false"
              log_exception_trace="false"
              javax.mail.properties.file="%home%/java.mail.properties"
              from="openas2"
              to="your email address"
              smtpserver="your smtp server"
              smtpport="your smtp server port"
              smtpauth="true"
              smtpuser="mySmtpUserId"
              smtppwd="mySmtpPwd"
              subject="$exception.name$: $exception.message$"
              bodytemplate="%home%/emailtemplate.txt"/>
      <logger classname="org.openas2.logging.FileLogger"
              enabled="$properties.file.logger.enabled$"
              filename="%home%/../logs/log-$date.yyyyMMdd$.txt"/>
      <logger classname="org.openas2.logging.SocketLogger"
              enabled="$properties.socket.logger.enabled$"
              ipaddr="127.0.0.1"
              portid="19999"/>
   </loggers>
   <commands classname="org.openas2.cmd.XMLCommandRegistry"
             filename="%home%/commands.xml"/>
   <commandProcessors>
      <commandProcessor classname="org.openas2.cmd.processor.StreamCommandProcessor"
                        enabled="$properties.console.command.processor.enabled$"/>
      <commandProcessor enabled="$properties.socket.command.processor.enabled$"
                        classname="org.openas2.cmd.processor.SocketCommandProcessor"
                        portId="14321"
                        userid="userID"
                        password="pWd"
                        response_format="xml"/>
      <commandProcessor classname="org.openas2.cmd.processor.RestCommandProcessor" 
                        enabled="$properties.restapi.command.processor.enabled$"
                        baseuri="$properties.restapi.command.processor.baseuri$"
                        userid="$properties.restapi.command.processor.userid$" 
                        password="$properties.restapi.command.processor.password$" />
   </commandProcessors>
   <processor classname="org.openas2.processor.DefaultProcessor"
              pendingMDN="$properties.storageBaseDir$/pendingMDN3"
              pendingMDNinfo="$properties.storageBaseDir$/pendinginfoMDN3">
      <module enabled="$properties.module.AS2SenderModule.enabled$"
              classname="org.openas2.processor.sender.AS2SenderModule"
              retries="5"/>
      <module enabled="$properties.module.MDNSenderModule.enabled$"
              classname="org.openas2.processor.sender.MDNSenderModule"
              retries="3"/>
      <!-- This directory polling module will parse the filename to get a sender, receiver and name of file to send to partner.
		     For instance, a file named MyComapny_OID-PartnerB_OID-OrderID-745634.edi would be sent from MyCompany to PartnerB.
		     The name of the file sent to the partner will be "OrderID-745634.edi" -->
      <module classname="org.openas2.processor.receiver.AS2DirectoryPollingModule"
              outboxdir="$properties.storageBaseDir$/toAny"
              errordir="$properties.storageBaseDir$/toAny/error/$date.YYYY$/$date.MM$"
              interval="5"
              delimiters="-"
              mergeextratokens="true"
              sendfilename="true"
              format="sender.as2_id, receiver.as2_id, attributes.filename"
              mimetype="application/EDI-X12"/>
       <!-- This directory polling module will is dedicated to sending to partner PartnerB_OID -->
      <module classname="org.openas2.processor.receiver.AS2DirectoryPollingModule"
              outboxdir="$properties.storageBaseDir$/toPartnerB"
              errordir="$properties.storageBaseDir$/toPartnerB/error"
              interval="5"
              defaults="sender.as2_id=MyCompany_OID, receiver.as2_id=PartnerB_OID"
              sendfilename="true"
              mimetype="application/EDI-X12"/>
      <module enabled="$properties.module.DbTrackingModule.enabled$"
              classname="org.openas2.processor.msgtracking.DbTrackingModule"
              use_embedded_db="true"
              force_load_jdbc_driver="false"
              db_user="sa"
              db_pwd="OpenAS2"
              db_name="openas2"
              table_name="msg_metadata"
              db_directory="%home%/DB"
              jdbc_driver="org.h2.Driver"
              jdbc_connect_string="jdbc:h2:$component.db_directory$/$component.db_name$"
              sql_escape_character="'"
              tcp_server_start="true"
              tcp_server_port="9092"
              tcp_server_password="openas2"/>
      <module enabled="$properties.module.MDNFileModule.enabled$"
              classname="org.openas2.processor.storage.MDNFileModule"
              filename="$properties.storageBaseDir$/$mdn.msg.sender.as2_id$-$mdn.msg.receiver.as2_id$/mdn/$date.yyyy-MM-dd$/$mdn.msg.content-disposition.filename$-$mdn.msg.headers.message-id$"
              protocol="as2"
              tempdir="$properties.storageBaseDir$/temp"/>
      <module enabled="$properties.module.MessageFileModule.enabled$"
              classname="org.openas2.processor.storage.MessageFileModule"
              filename="$properties.storageBaseDir$/$msg.sender.as2_id$-$msg.receiver.as2_id$/inbox/$msg.content-disposition.filename$-$msg.headers.message-id$"
              header="$properties.storageBaseDir$/$msg.sender.as2_id$-$msg.receiver.as2_id$/msgheaders/$date.yyyy-MM-dd$/$msg.content-disposition.filename$-$msg.headers.message-id$"
              protocol="as2"
              tempdir="$properties.storageBaseDir$/temp"/>
      <module enabled="$properties.module.AS2ReceiverModule.http.enabled$"
              classname="org.openas2.processor.receiver.AS2ReceiverModule"
              port="10080"
              errordir="$properties.storageBaseDir$/inbox/error"
              errorformat="sender.as2_id, receiver.as2_id, headers.message-id"/>
      <module enabled="$properties.module.AS2ReceiverModule.https.enabled$"
              classname="org.openas2.processor.receiver.AS2ReceiverModule"
              port="10443"
              protocol="https"
              ssl_protocol="TLS"
              ssl_keystore="%home%/ssl_certs.jks"
              ssl_keystore_password="testas2"
              errordir="$properties.storageBaseDir$/inbox/error"
              errorformat="sender.as2_id, receiver.as2_id, headers.message-id"/>
      <module enabled="$properties.module.AS2MDNReceiverModule.http.enabled$"
              classname="org.openas2.processor.receiver.AS2MDNReceiverModule"
              port="10081"/>
      <module enabled="$properties.module.AS2MDNReceiverModule.https.enabled$"
              classname="org.openas2.processor.receiver.AS2MDNReceiverModule"
              port="10444"
              protocol="https"
              ssl_protocol="TLS"
              ssl_keystore="%home%/ssl_certs.jks"
              ssl_keystore_password="testas2"/>
      <module enabled="$properties.module.DirectoryResenderModule.enabled$"
              classname="org.openas2.processor.resender.DirectoryResenderModule"
              resenddir="$properties.storageBaseDir$/resend"
              errordir="$properties.storageBaseDir$/resend/error"
              resenddelay="60"/>
      <module enabled="$properties.module.HealthCheckModule.enabled$"
              classname="org.openas2.processor.receiver.HealthCheckModule"
              port="10099"/>
   </processor>
   <!-- The pollerConfigBase provides the base config for the partnership directory pollers. It must be placed at the top of the file -->
   <pollerConfigBase classname="org.openas2.processor.receiver.AS2DirectoryPollingModule"
           outboxdir="$properties.pollerConfigBase.outboxdir$"
           errordir="$properties.pollerConfigBase.errordir$"
           interval="$properties.pollerConfigBase.interval$"
           defaults="$properties.pollerConfigBase.defaults$"
           sendfilename="$properties.pollerConfigBase.sendfilename$"
           mimetype="$properties.pollerConfigBase.mimetype$"/>
   <partnerships classname="org.openas2.partner.XMLPartnershipFactory"
                 filename="$properties.partnership_file$"
                 interval="$properties.partnerships.polling.interval$"/>
</openas2>
