<?xml version="1.0" encoding="UTF-8"?>
<openas2>
   <properties storageBaseDir="%home%/../data"
               configDir="%home%"
               console.logger.enabled="true"
               file.logger.enabled="true"
               socket.logger.enabled="false"
               email.logger.enabled="false"
               console.command.processor.enabled="true"
               socket.command.processor.enabled="false"
               module.AS2SenderModule.enabled="true"
               module.MDNSenderModule.enabled="true"
               module.DbTrackingModule.enabled="true"
               module.MDNFileModule.enabled="true"
               module.MessageFileModule.enabled="true"
               module.DirectoryResenderModule.enabled="true"
               module.AS2ReceiverModule.http.enabled="true"
               module.AS2MDNReceiverModule.http.enabled="true"
               module.AS2ReceiverModule.https.enabled="false"
               module.AS2MDNReceiverModule.https.enabled="false"
               module.HealthCheckModule.enabled="false"
               sql_timestamp_format="yyyy-MM-dd HH:mm:ss.SSS"/>
   <certificates classname="org.openas2.cert.PKCS12CertificateFactory"
                 filename="%home%/as2_certs.p12"
                 password="testas2"
                 interval="300"/>
   <loggers>
      <logger enabled="$properties.console.logger.enabled$"
              classname="org.openas2.logging.ConsoleLogger"/>
      <!-- Remove this comment to enable emailing of exceptions
        <logger classname="org.openas2.logging.EmailLogger"
            show="terminated"
            javax.mail.properties.file="%home%/java.mail.properties"
            from="openas2"
            to="your email address"
            smtpserver="your smtp server"
            smtpauth="true"
            smtpuser="mySmtpUserId"
            smtppwd="mySmtpPwd"
            subject="$exception.name$: $exception.message$"
            bodytemplate="%home%/emailtemplate.txt"/>

        <logger classname="org.openas2.logging.FileLogger"
                filename="%home%/../logs/log-$date.MMddyyyy$.txt"/>
        -->
      <!-- Remove this comment to enable socket logging			
<logger classname="org.openas2.logging.SocketLogger"
    ipaddr="127.0.0.1"
    portid="19999"/>
-->
   </loggers>
   <commands classname="org.openas2.cmd.XMLCommandRegistry"
             filename="%home%/commands.xml"/>
   <commandProcessors>
      <commandProcessor enabled="$properties.console.command.processor.enabled$"
                        classname="org.openas2.cmd.processor.StreamCommandProcessor"/>
      <commandProcessor enabled="$properties.socket.command.processor.enabled$"
                        classname="org.openas2.cmd.processor.SocketCommandProcessor"
                        portId="14321"
                        userid="userID"
                        password="pWd"/>
   </commandProcessors>
   <processor classname="org.openas2.processor.DefaultProcessor"
              pendingMDN="$properties.storageBaseDir$/pendingMDN3"
              pendingMDNinfo="$properties.storageBaseDir$/pendinginfoMDN3">
      <module enabled="$properties.module.AS2SenderModule.enabled$"
              classname="org.openas2.processor.sender.AS2SenderModule">
        </module>
      <module enabled="$properties.module.MDNSenderModule.enabled$"
              classname="org.openas2.processor.sender.MDNSenderModule">
        </module>
      <!-- This will parse the filename to get a sender and receiver. For instance a file
    named OpenAS2A_OID-OpenAS2B_OID.1234 would be sent from OpenAS2A to OpenAS2B. -->
      <module enabled="true"
              classname="org.openas2.processor.receiver.AS2DirectoryPollingModule"
              outboxdir="$properties.storageBaseDir$/toAny"
              errordir="$properties.storageBaseDir$/toAny/error"
              interval="1"
              delimiters="-."
              sendfilename="true"
              format="sender.as2_id, receiver.as2_id, attributes.fileid"
              mimetype="application/EDI-X12"/>
      <!--  Handled in Partnership config so commented out
      <module enabled="true"
              classname="org.openas2.processor.receiver.AS2DirectoryPollingModule"
              outboxdir="$properties.storageBaseDir$/toOpenAS2A/"
              errordir="$properties.storageBaseDir$/toOpenAS2A/error"
              interval="1"
              defaults="sender.as2_id=OpenAS2B_OID, receiver.as2_id=OpenAS2A_OID"
              sendfilename="true"
              mimetype="application/EDI-X12"/>
      -->
      <module enabled="true"
              classname="org.openas2.processor.receiver.AS2DirectoryPollingModule"
              outboxdir="$properties.storageBaseDir$/toOpenAS2B"
              errordir="$properties.storageBaseDir$/toOpenAS2B/error"
              interval="1"
              defaults="sender.as2_id=OpenAS2A_OID, receiver.as2_id=OpenAS2B_OID"
              sendFilename="true"
              mimetype="application/EDI-X12"/>
      <module enabled="$properties.module.DbTrackingModule.enabled$"
              classname="org.openas2.processor.msgtracking.DbTrackingModule"
              db_user="sa"
              db_pwd="OpenAS2"
              db_name="openas2"
              db_directory="%home%/DB"
              jdbc_driver="org.h2.Driver"
              jdbc_connect_string="jdbc:h2:$component.db_directory$/$component.db_name$"
              sql_escape_character="'"
              tcp_server_start="true"
              tcp_server_port="9092"
              tcp_server_password="openas2"/>
      <module enabled="$properties.module.MDNFileModule.enabled$"
              classname="org.openas2.processor.storage.MDNFileModule"
              filename="$properties.storageBaseDir$/$mdn.msg.sender.as2_id$-$mdn.msg.receiver.as2_id$/mdn/$date.yyyy-MM-dd$/$mdn.msg.content-disposition.filename$-$mdn.msg.headers.message-id$"
              protocol="as2"
              tempdir="$properties.storageBaseDir$/temp"/>
      <module enabled="$properties.module.MessageFileModule.enabled$"
              classname="org.openas2.processor.storage.MessageFileModule"
              filename="$properties.storageBaseDir$/$msg.sender.as2_id$-$msg.receiver.as2_id$/inbox/$msg.content-disposition.filename$-$msg.headers.message-id$"
              header="$properties.storageBaseDir$/$msg.sender.as2_id$-$msg.receiver.as2_id$/msgheaders/$date.yyyy-MM-dd$/$msg.content-disposition.filename$-$msg.headers.message-id$"
              protocol="as2"
              tempdir="$properties.storageBaseDir$/temp"/>
      <module enabled="$properties.module.AS2ReceiverModule.http.enabled$"
              classname="org.openas2.processor.receiver.AS2ReceiverModule"
              port="10080"
              errordir="$properties.storageBaseDir$/inbox/error"
              errorformat="sender.as2_id, receiver.as2_id, headers.message-id"/>
      <!--
        <module classname="org.openas2.processor.receiver.AS2ReceiverModule"			
            port="10443"
            protocol="https"
            ssl_protocol="TLS"
            ssl_keystore="%home%/ssl_certs.jks"
            ssl_keystore_password="testas2"
            errordir="$properties.storageBaseDir$/inbox/error"
            errorformat="sender.as2_id, receiver.as2_id, headers.message-id"/>
            -->
      <module enabled="$properties.module.AS2MDNReceiverModule.http.enabled$"
              classname="org.openas2.processor.receiver.AS2MDNReceiverModule"
              port="10081"/>
      <!--
		<module classname="org.openas2.processor.receiver.AS2MDNReceiverModule"			
			port="10444"
			protocol="https"
			ssl_protocol="TLS"
			ssl_keystore="%home%/ssl_certs.jks"
			ssl_keystore_password="testas2"
			/>
			-->
      <module enabled="$properties.module.DirectoryResenderModule.enabled$"
              classname="org.openas2.processor.resender.DirectoryResenderModule"
              resenddir="$properties.storageBaseDir$/resend"
              errordir="$properties.storageBaseDir$/resend/error"
              resenddelay="60"/>
   </processor>
   <!-- The pollerConfigBase provides the base config for the partnership directory pollers. It must be placed at the top of the file -->
   <pollerConfigBase classname="org.openas2.processor.receiver.AS2DirectoryPollingModule"
           outboxdir="$properties.storageBaseDir$/outbox/$partnership.receiver.as2_id$"
           errordir="$properties.storageBaseDir$/outbox/error/$date.YYYY$-$date.MM$-$date.dd$/$partnership.receiver.as2_id$"
           interval="5"
           defaults="sender.as2_id=$partnership.sender.as2_id$, receiver.as2_id=$partnership.receiver.as2_id$"
           sendfilename="true"
           mimetype="application/EDI-X12"/>
   <partnerships classname="org.openas2.partner.XMLPartnershipFactory"
                 filename="%home%/partnerships.xml"/>
</openas2>
