<openas2>
    <properties
            sql_timestamp_format="yyyy-MM-dd HH:mm:ss.SSS"

    />
    <certificates classname="org.openas2.cert.PKCS12CertificateFactory"
                  filename="%home%/as2_certs.p12"
                  password="testas2"
                  interval="300"/>

    <partnerships classname="org.openas2.partner.XMLPartnershipFactory"
                  filename="%home%/partnerships.xml"/>

	<loggers>
		<logger classname="org.openas2.logging.FileLogger"
			filename="%home%/../logs/log-$date.MMddyyyy$.txt" />
		<!-- Remove this comment to enable socket logging 
		<logger classname="org.openas2.logging.SocketLogger" 
			ipaddr="127.0.0.1" portid="19999"/>
		 -->
	</loggers>


    <commands classname="org.openas2.cmd.XMLCommandRegistry"
              filename="%home%/commands.xml"/>

    <commandProcessors>
        <commandProcessor classname="org.openas2.cmd.processor.StreamCommandProcessor"/>
        <!--
        <commandProcessor classname="org.openas2.cmd.processor.SocketCommandProcessor" portId="14321"
                          userid="userID" password="pWd"/>
        -->
    </commandProcessors>


    <processor classname="org.openas2.processor.DefaultProcessor"
               pendingMDN="%home%/../data/pendingMDN3"
               pendingMDNinfo="%home%/../data/pendinginfoMDN3">

        <module classname="org.openas2.processor.receiver.AS2ReceiverModule"
                port="10080"
                errordir="%home%/../data/inbox/error"
                errorformat="sender.as2_id, receiver.as2_id, headers.message-id"/>

        <module classname="org.openas2.processor.receiver.AS2ReceiverModule"            
            port="10443"
            protocol="https"
            ssl_protocol="TLS"
            ssl_keystore="%home%/ssl_certs.jks"
            ssl_keystore_password="testas2"
            errordir="%home%/../data/inbox/error"
            errorformat="sender.as2_id, receiver.as2_id, headers.message-id"/>
        
        <module classname="org.openas2.processor.receiver.HealthCheckModule"
			port="10099"></module>
        
    </processor>
</openas2>
