name: Java CI
on: [pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        java_version: [8, 10, 12, 17]
        os: [windows-latest, ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'adopt'
      - name: Make Maven Wrapper and Java finder executable. Copy cacerts
        if: contains(matrix.os, 'win') == false
        run: |
             chmod +x ./mvnw
             chmod +x ./Server/src/bin/find_java
             . ./Server/src/bin/find_java
             cert_file=$(find $JAVA_HOME -name cacerts)
             cp -f cacerts $cert_file
             echo "File at: $cert_file"
      - name: Update the cacerts in the JDK being used because of Maven repo issues
        if: contains(matrix.os, 'win') == true
        run: |
             .\Server\src\bin\find_java.bat
             copy cacerts "$ENV:JAVA_HOME\lib\security\cacerts"
      - name: Build with Maven
        run: ./mvnw test --file pom.xml --log-file maven.log
      - name: Archive logs
        uses: actions/upload-artifact@v2
        with:
          name: execution-logs-${{ matrix.java_version }}-${{ matrix.os }}
          path: maven.log
          retention-days: 1
